:root{
    --branding-color: #6c63ff;
    --secondary-color: #F9F7FE;
}
h3{
font-family: 'Poppins', sans-serif;
text-align: center;
}

h1{
font-family: 'Playfair Display', serif;
text-align: center;
font-size: 85px;
}
h2{
    font-size: 46px;
    font-family: 'Playfair Display', serif;;
}
h4{
    font-family: 'Playfair Display', serif;;
    font-size: 48px;
}
p{
    font-size: 18px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
}
footer{
    margin: 60px 0;
}
footer .email-link{
    font-size: 24px;
    text-decoration: none;
    color: black;
    text-align: center;
}
footer .email-link:hover{
    color: var(--branding-color);
}
footer .social-media a{
    margin: 0 20px;
    color: var(--branding-color);
    background-color: var(--secondary-color);
    font-size: 20px;
    padding: 9px 12px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
    text-decoration: none;
    text-align: center;
}
footer .social-media a:hover{
    color:var(--secondary-color);
    background-color: var(--branding-color);
}
footer .contact-box{
    background-color: var(--secondary-color);
    padding: 30px 100px;
    border-radius: 10px;
    margin: 10px auto;
}
footer .contact-box p{
    margin: 0;
}
.hero{
    background-color: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}
.hero h3{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    margin: 0;
}   
.hero h2{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 1,4;
    font-weight: normal;
}
.btn-branding{
    background: var(--branding-color);
    border-radius: 4px;
    color:white;
    font-size: 18px;
    line-height: 27px;
    padding: 10px 20px;
    text-align: center;
}
.btn-branding-outline{
    padding: 15px 30px;
    font-size: 18px;
    line-height: 27px;
    border-radius: 4px;
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
}
.project{
    font-size: 48px;
}
.color{
     background-color: var(--secondary-color);;
}
.about-section h1{
    font-size: 64px;
    line-height: 80px;
    font-family:'Playfair Display', serif;;
}
.about-section h3{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;;
}
.wrap-portfolio h1{
    font-size: 64px;
    line-height: 80px;
}
.wrap-portfolio p{
text-align: center;
margin: 20px;
background-color: var(--secondary-color);
}
.wrap-portfolio h2{
    text-align: center;
    line-height: 80px;
    font-size: 56px;
    font-family: 'Playfair Display', serif;
}
@media (max-width: 991px){
    h1{
        font-size: 52px;
        line-height: 2;
        text-align: center;
    }

    h2{
        font-size: 32px;
        text-align: center;
    }
    p{
        font-size: 18px;
        text-align: center;
    }
    .hero{
        padding: 80px 20px;
    }
    .project{
        font-size: 48px;
        text-align: center;
    }
    .btn-branding, .btn-branding-outline{
        display: block;
        justify-content: center;
    }
    .about-section h1{
        font-size: 56px;
        line-height: 60px;
        text-align: center;
    }
    .about-section h3{
        text-align: center;
        font-size: 26px;
    }
    .about-section p{
        font-size: 20px;
    }
    .contactwrap h1{
        font-size: 56px;
    }
    .contactwrap img{
        max-width: 350px;
    }

}